.header-container {
  display: flex;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  display: flex;
  padding: 20px;
  height: 100%;
}