
.mat-sidenav-container {
  height: 100%;
}

.sidenav-content {
  margin: 0;
  height: 100%;
}

.header-spacer {
  flex: 1 1 auto;
}

.header {
  background-color: var(--primary-color);
  /*position: fixed;*/
}

.content-container {
  padding: 0;
  margin-left: 5em;
  margin-top: 0;
}

.sidenav {
  width: 10rem;
  height: 100%;
  text-align: center;
}

.mat-nav-list {
  text-align: center;
}

.headerButton {
  cursor: pointer;    
}

.headerButton:hover {
  color: white;
}