
.mat-sidenav-container {
  height: 100%;
}

.sidenav-content {
  height: 100%;
}

.header-spacer {
  flex: 1 1 auto;
}

.sidenav {
  padding-top: 7.5rem;
  width: 10rem;
  height: 100%;
  text-align: center;
}

.mat-nav-list {
  text-align: center;
}