<mat-card>
    <mat-card-title>Reisekosten</mat-card-title>
    <mat-card-header>Hallo Header</mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Kunde</mat-label>
                <mat-select>
                    <mat-option *ngFor="let customer of customers" [value]="customer.name">{{customer.name}}
                    </mat-option>
                </mat-select>
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Reisegrund</mat-label>
                <mat-select>
                    <mat-option *ngFor="let reason of reasons" [value]="reason.type">{{reason.type}}</mat-option>
                </mat-select>
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Start</mat-label>
                <input matInput type="datetime-local">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ende</mat-label>
                <input matInput type="datetime-local">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>
            <mat-icon>save</mat-icon>
        </button>
        <button mat-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>