h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.container-travel {
    margin-top: 1rem;
}

.container-data {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 1rem;
    height: 100%;
}

.container-image {
    display: flex;
    justify-content: center;
}

.customer-logo {
    height: 50px;
    width: 50px;
}

.detail-card {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}