/* You can add global styles to this file, and also import other style files */

/*Color*/

:root {
    --primary-color: #40b2d4;
    --background-color: white;
    --text-color: #2d2d2d;
}

html, body { 
    height: 100%;
    background-color: var(--background-color); 
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

