<h2>Neuen Kunden anlegen</h2>
<form class="row g-1 customerForm" [formGroup]="customerForm" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Stadt</mat-label>
        <input matInput type="text" formControlName="city">
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="country">
            <mat-option value="" disabled>Bitte ein Land auswählen</mat-option>
            <mat-option *ngFor="let country of countries | async" [value]="country">{{country.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button type="submit" mat-Button [disabled] = "customerForm.invalid">
        <mat-icon>save</mat-icon>
    </button>
</form>